.input {
	display: flex;
	align-items: center;
	margin-bottom: 0.5rem;
}

.input label {
	font-weight: bold;
	margin-right: 1rem;
	flex: 1 1 auto;
	width: 50px;
}

.input input {
	width: 3rem;
	border-radius: 5px;
	border: 1px solid #ccc;
	font: inherit;
	padding-left: 0.5rem;
	flex: 2 1 auto;
}
